<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <input type="text" class="form-control" #servername>
    <label>Server Content</label>
    <input type="text" class="form-control" #servercontent>
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(servername,servercontent)">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(servername,servercontent)">Add Server Blueprint</button>
  </div>
</div>
