<!-- <h1>I am in the app Component</h1>
<app-servers></app-servers> -->


<div class="container">
  <app-cockpit (servercreated)="onServerAdded($event)"
  (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="OnChange()">Change Name</button>
      <app-server-element *ngFor="let ser of serverElements"
      [element]="ser"
      [name]="ser.name">

    </app-server-element>
    </div>
  </div>
</div>
